<ion-view view-title="매칭 신청">
  <ion-content class="matchlist">
      <div class="sol ">
        <a href="#/app/browse">
        <button class="button button-fullwidth button-positive ">
          <i class="icon2 ion-compose"></i><br>
        </button>
       </a>
      </div>
      <div class='reserve' ng-controller='peoplectrl'>
        <div class='date' >
          <span><h2>{{today}} 요일</h2></span>
          <span class='month'>{{month}}</span>
          <a class="button button-left button-icon  icon ion-chevron-left" ng-click="decdate()"></a>
          <a class="button button-right button-icon icon ion-chevron-right" ng-click="incdate()"></a>
        </div>
      </div>
    <ion-list>
      <ion-item ng-repeat="contact in contacts" class="item-light item-avatar card item-complex">
        <div class="item-content">
          <img ng-src="{{contact.img}}" />
          <div class="item-divider">{{contact.name}}</div>
          <div class="item-text-wrap">
            <ul>
              <li>시간: {{contact.time}}</li>
              <li>장소: {{contact.lugar}}</li>
              <li>인원: {{contact.number}}</li>
            </ul>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
